.projects {
    text-align: center;
    padding-top: 8rem;
}

.projectWrapper {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem
}


@media (min-width: 768px) {
    .projectWrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:1200px) {
    .projectWrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}