.skill {
    display: flex;
    flex-direction: column;
}

.header {
    font-family: sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}


.showPercent {
    width: 100%;
    height: 1rem;
    background-color: #1a1a1a;
    direction: ltr;
    border-radius: 1rem;
    overflow: hidden !important;
}

.showPercent div {
    border-radius: 0.3rem;
    background-color: #ffbd39;
    height: 100%;
}