.wrapper {
    margin-top: 2rem;
}

.projectsMenu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 0 auto;
    width: fit-content;
}

.projectsMenu li {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: 1px solid #ffbd39;
    border-radius: 0.4rem;
    transition: all 0.25s linear;
}

.projectsMenu .active {
    background: #ffbd39;
    color: #000;
}

@media (min-width: 768px) {
    .projectsMenu {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}