.wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 0.5rem;

}



.menu {
    justify-self: center;
    display: flex;
    transition: all 0.2s linear;
}

.menu li {
    padding: 1rem 1.5rem;

}

.menu a {
    color: #fff;
    transition: all 0.2s linear;
    cursor: pointer;
}

.menu a:hover {
    color: #ffbd39;
}


.navLink a.active {
    color: #ffbd39

}


.wrapper div:last-child {
    display: none;
    gap: 0.75rem;
    transition: all 0.2s linear
}

.wrapper div:last-child:hover {
    color: gold;
}

.user {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.user a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #101827;
    cursor: pointer;
}

.user a>:first-child {
    font-size: 1rem;
    transition: all 0.25s linear;
}

.user a:hover {
    color: gold;
}


@media (max-width: 992px) {

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #040D12;
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        height: 100vh;
        /* padding-top: 2rem; */
        z-index: 100;
        transition: all 0.25s linear;
    }

    .menu {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1.5rem
    }

}

@media (max-width: 400px) {
    .user div:first-child {
        display: none;
    }

    .wrapper div:last-child {
        display: flex;
    }

}