.navbar {
    display: flex;
    align-items: center;
    background-color: #000000ee;
    z-index: 100;
    padding: 1.5rem 0;
    margin: 0 auto;
    box-shadow: 0rem 0rem 1rem #a7a7a752;
    width: 100%;

    position: -webkit-sticky;
    position: sticky;
    top: -5px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

}


.logo {
    font-size: 1.6rem;
    font-family: DancingScript;
    cursor: pointer;
    z-index: 999;
}


@media (min-width: 992px) {

    .navbar {
        padding: 1.5rem 0;

    }

    .logo {
        font-size: 2rem;
    }

}